.AppCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 10px;
  overflow: hidden;
}

.message {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.evt_pagCont {
  width: 80%;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pgContainer {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pgNext,
.pgPrevious,
.pgItem,
.pgPoints {
  color: #fff;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    color: #001;
  }
}

.pgActive {
  background-color: #001;
}
.pgActive:hover {
  background-color: #fff;
  color: #001;
  transition: 300ms;
}

.disabled {
  cursor: not-allowed;

  &:hover {
    background-color: #eee;
  }
}
