*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #444;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
}

input, button{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}