.NavbarCont {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: sticky;
  padding: 5px 0;
  top: 0; */
}

.navbarSpan {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  flex-grow: 0.8;
}

.inpCont {
  position: relative;
  min-width: 200px;
}

.labelSearch {
  position: absolute;
  color: #fff;
  top: 2px;
  left: 7px;
  cursor: text;
  transition: 300ms;
}

.inpSearch {
  padding: 4px 8px;
  width: 100%;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: system-ui;
}

.inpSearch::selection {
  background-color: #fff;
  color: #000;
}

.inpSearch:focus + .labelSearch,
.inpSearch:not(:placeholder-shown) + .labelSearch {
  left: -55px;
  transition: 300ms;
}

.btnProfile {
  padding: 4px 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #001;
  transition: 100ms;
}

.btnProfile:hover {
  background-color: #fff;
  color: #001;
  box-shadow: 0 0 10px -4px #fff;
  transition: 100ms;
}
